{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-async-generator-functions",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "babel-plugin-bulk-import"
    ],
    [
      "babel-plugin-root-import", {
      "paths": [{
          "rootPathPrefix": "~",
          "rootPathSuffix": "./src"
        },
        {
          "rootPathPrefix": "#",
          "rootPathSuffix": "./"
        },
        {
          "rootPathPrefix": "$",
          "rootPathSuffix": "../"
        }
      ]}
    ]
  ]
}
