{
  presets: ['latest'],
  plugins: [
    ["babel-plugin-bulk-import"],
    ["babel-plugin-root-import", [{
      "rootPathPrefix": "~",
      "rootPathSuffix": "./src"
    }, {
      "rootPathPrefix": "#",
      "rootPathSuffix": "./"
    }, {
      "rootPathPrefix": "$",
      "rootPathSuffix": "../" // since we suport relative paths you can also go into a parent directory
    }]],
    'transform-runtime',
    'transform-async-generator-functions',
    'transform-object-rest-spread'
  ]
}
