.DS_Store
.idea/
node_modules/
.history/
dist/
build/

**/env/.env.*
**/env/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/ssl

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

update-dependencies.sh
