.DS_Store
node_modules/
dist/
build/
settings
npm-debug.log*
yarn-debug.log*
yarn-error.log*


**/.env
**/.env.*

**/ssl

settings

# Editor directories and files
jsconfig.json
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
